*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-image img{
    background-size: cover;
    height: 50vh;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
    position: fixed;
    margin-top: 50px;
    z-index: 2;
}
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: burlywood;
    z-index: 2;
    transition: 0.5s;
}
#menubtn{
    width: 50px;
    height: 50px;
    background: burlywood;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 140px;
    color:transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 600;
    font-family: 'Kaushan Script', cursive;
    transition: 0.9s;
}
.herob h1{
    padding: 120px;
    font-size: 120px;
    color:transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    font-family: 'Kaushan Script', cursive;
    transition: 0.9s;
}
.content h3{
    color:#fff;
    font-size: 30px;
    font-family: cursive;
}
.content h1:hover{
    -webkit-text-stroke: 1px #fff;
    color: #fff;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    transition: color 0.9s;
}
.content a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50px;
    z-index: -1;
    transition: 0.45s;
}
.content a:hover span{
    width: 100%;
}
.content a:hover{
    color: #000;
}
@media screen and (max-width: 770px){
    .content h1{
        font-size: 50px;
    }
    .content h3{
        font-size: 24px;
    }
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.about-us{
    background-color: #fff;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    margin-top: 50px;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    font-style: italic;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: burlywood;
    margin-top: 2px;
}
.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    border-radius: 5px;
    border-left: 20px solid whitesmoke;
}
.about-content{
    flex: 1;
}
.about-image img:hover{
    transform: scale(1.2);
}
.about-content h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.about-content p a{
    color: burlywood;
    margin: 0 20px;
    font-weight: 800;
    font-family:  'Kaushan Script', cursive;
    font-size: larger;
}
.read-more{
    display: inline-block;
    background-color:burlywood;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border: 25px;
    margin-top: 25px;
    transition: 0.3s ease;
    border-radius: 25px;
    margin-bottom: 25px;
}
.read-more:hover{
    background-color: #3e8e41;
}
@media screen and (max-width:770px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 17px;
    }
    .heading p{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 15px;
    }
}
.boddy{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30Vh;
}
.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width:none;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list ::-webkit-scrollbar{
    display: none;
}
.containerr{
    max-width: 1200px;
    width: 75%;
}
.slider-wrapper .image-list .image-item{
    width: 2S25px;
    height: 300px;
    object-fit: cover;
}
#footer{
    margin-top: 35px;
    padding: 100px 0 20px;
    background: #efefef;
    margin-bottom: 35px;
    position: relative;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 30px;
    color:#666;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
}
.title-text .newsletter{
    margin-top: 120px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: x-large;
    cursor: pointer;
    color: burlywood;
    font-weight: bolder;
}
.title-text h1{
    font-size: 50px;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-right .footer-left{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-left{
    text-align: right;
}
.footer-right{
    text-align: left;
}
.footer-right a{
    text-decoration: none;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa{
    font-size: 20px;
    color: #000;
    margin: 10px;
}
.footer-img{
    max-width:350px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links{
    text-align: center;
    padding-bottom: 120px;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #000;
    margin: 40px 5px 0;
    color: #333;
    cursor: pointer;
    transition: 0.5s;
}
.social-links .fa:hover{
    background: burlywood;
    color: #000;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 12px;
    margin-top: 20px;
}
@media screen and (max-width:770px){
    .footer-right .footer-left{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
    .footer .title-text p{
        font-size: 10px;
    }
    .footer .title-text p{
        font-size: 10px;
    }
    .footer-row .footer-right h1{
        font-size: 18px;
    }
    .footer-row .footer-left h1{
        font-size: 18px;
    }
}
#banner{
    width: 100%;
    height: 100vh;
    background: url(myimages/desination1.png);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
#slid{
    background: #fff;
    min-height: 100vh;
    width: 100%;
}
.title{
    text-align: center;
    padding: 20px;
}
.title h1{
    font-size: 35px;
    margin-bottom: 35px;
    font-weight: 600;
}
.title h3{
    font-style:italic;
    font-family: 'Kaushan Script', cursive;
}
.title p{
    margin-top: 20px;
    text-align: left;
    color: #666;
    line-height: 2em;
    position: relative;
}
.title img{
    margin: 10px auto;
    height: 300px;
    width: 300px;
    display: flex;
    position: absolute;
}
#sliding{
    height: 50vh;
    width: 100%;
    margin-top: 80px;
    text-align: center;

}
#sliding .mycontainer{
    width: 85vmin;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top:100px;
    overflow: hidden;
    border: 20px solid bisque;
    border-radius: 10px;
    box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 10s infinite;
}
.wrapper img{
    width: 100%;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.destinations{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.destinations-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff;
    padding: 10px;
    border: 1px solid burlywood;
}
.destinations-col img{
    width: 100%; 
    border-radius: 10px;
}
.destinations p{
    padding: 0;
    margin-bottom: 15px;
}
.destinations h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
@media screen and (max-width:770px){
    .row{
        flex-direction: column;
    }
    #sliding{
        height: 30vh;
        margin-top: 10px;
    }
    .content a{
        font-size: 18px;
    }
}
.mybanner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.myslider{
    width: 100%;
    height: 100vh;
    position:absolute;
    top: 0;
}
#slideimg{
    width: 100%;
    height: 100%;
}
#tbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/tanzaniia.webp);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
#kbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/kenya2.webp);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
#ubanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/uganda3.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#trbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/tarangire4.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#knvbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/lakeNaivasha2.jpg);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#kmsbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/maasaimara2.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#plnjbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/safari1.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#uqebanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/elizabeth2.jpg);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#ubgbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/bigodi2.jpg);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#ulbbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/lkbunyonyicover.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#ubwbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/bwindimain.jpg);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#ktsbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/tsavo2.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#kambanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/amboseli2.jpg);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#tmgbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/materuni3.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#tmnybanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/lakemayara1.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#hsbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/fortjesus2.jpg);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#fbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/afrifoods.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#tarsgbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/arusha2.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#tkubanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/kikuletwa1.webp);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#smabbbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/allanmiko.jpeg);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#ukmbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/kamapalaMain.jpg);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#tngbanner{
    height: 80vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.18)),url(myimages/ngorongoro3.webp);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.iwrapper{
    display: inline-flex;
}
.iwrapper .static-text{
    font-size: 60px;
    color: whitesmoke;
    font-weight: 400;
}
.iwrapper .dynamic-txts{
    margin-left: 15px;
    height: 88px;
    line-height: 88px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color: burlywood;
    position: relative;
    top: 0;
    animation: slide 10s steps(4) infinite;
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    border-left: 2px solid transparent;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
@media screen and (max-width:770px){
    .dynamic-txts li{
        font-size: 32px;
    }
    .iwrapper .static-text{
        font-size: 40px;
    }
    .iwrapper{
        display: inline-block;
    }
}
.glider-contain{
    margin-bottom: 30px;
    padding: 15px;
}
.p-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto ;
    width: 95%;
}
.product-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 2px solid beige;
    border-radius: 10px;
    margin: 0px 20px;
    position: relative;
}
.p-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.p-img a,
.p-img{
    width: 100%;
    height: 100%;
    display: flex;
}
.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;

}
.p-box-text{
    margin-top: 5px;
    width: 100%;
}
.product-category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.product-category span{
    color: #acacac;
    font-size: 0.9rem;
    margin: 5px 0px;
}
.product-title{
    color: #333;
    font-weight: 600;
    text-decoration: none;
}
.product-title:hover{
    color: #000;
}
.visit-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.visit-page .p-interested{
    color: burlywood;
    margin: 0px 5px;
    font-weight: 600;
    font-size: 16px;
}
.slider-btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 30px auto 10px auto;
    padding: 0px 10px;
    z-index: 1;
}
.slider-btns button{
    position: static !important;
    transform: translate(0,0);
    background-color: #f3f3f3;
    width: 80px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}
.slider-btns button span{
    font-weight: bold;
    padding: 10px 15px 10px 10px;
    position: relative;
    text-decoration: none;
}
.slider-btns button span::before,
.slider-btns button span::after{
    border-right:  2px solid;
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    content: '';
}
.slider-btns button span::after{
    margin-top: -1px;
    transform: rotate(45deg);
}
.slider-btns .glider-prev span{
    transform: rotate(-180deg);
}
@media screen and (max-width:320px){
    .product-box{
        margin: 0px 10px;
    }
    .p-slider{
        width: 100%;
    }
    .p-img a,
    .p-img{
        height: 100%;
    }
    .visit-page .p-interested{
        font-size: 1.1rem;
    }
}
@media screen and(max-width:320px){
    .p-img a,
    .p-img{
        height: 300px;
    }
    .slider-btns{
        padding: 0px;
    }
}
#Accommodations{
    background: #fff;
    font-family: 'poppins',sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}
.grid{
    display: flex;
    width: 10pxpx;
    grid-gap: 2rem;
    margin: 15px;
}
.grid-item{
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}
.grid-item:hover{
    transform: translateY(-0.5%);
    box-shadow:0 4rem 8rem rgba(0,0,0,0.5);
}
.card-image{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-content{
    padding: 1px;
}
.Card-header{
    font-size: 32px;
    font-weight: 500;
    color: #0d0d0d;
    margin: 10px;
}
.card-text{
    font-size: 15px;
    letter-spacing: 0.1rem;
    color: #3d3d3d;
    margin-bottom: 10px;
    margin-left: 10px;
}
.card-btn{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: #3363ff;
    background-color: burlywood;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
.card-btn span{
    margin-left: 1rem;
    transition: 0.2s;
}
.card-btn:hover,
.card-btn :active{
    background-color: #c2cffc;
}
.card-btn:hover span,
.card-btn :active span{
    margin-left: 1.5rem;
}
@media screen and (max-width:770px){
    .grid{
        display: inline-block;
        margin: 10px;
    }
    .heading h1{
        font-size: 29px;
    }
}
#Faq{
    min-height: 100vh;
    width: 100%;
    color: #fff;
}
.aboutusp{
    text-align: left;
    margin: 2px;
    padding: 2px;
    line-height: 2em;
}
#sliding{
    height: 0px;
}
#features1{
    width: 100%;
    padding: 70px 0;
}
.title-text1{
    text-align: center;
    padding-bottom: 70px;
}
.title-text1 h1{
    font-size: 50px;
    color: #0d0d0d;
    font-weight: bold;
}
.feature-box1{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.feature1{
    flex-basis: 50%;
}
.feature1-img{
    flex-basis: 50%;
    margin: auto;
}
.feature1-img img{
    width: 70%;
    border-radius: 10px;
}
.feature1 h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: burlywood;
}
.feature1-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature1-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: burlywood;
    border: 1px solid burlywood;
}
.feature1-text p{
    padding: 0 20px;
    text-align: initial;
}
@media screen and (max-width:770px){
    .title-text1 h1{
        font-size: 35px;
    }
    .feature1{
        flex-basis: 120%;
    }
    .feature1-img{
        flex-basis: 100%;
    }
    .feature1-img img{
        width: 100%;
    }
}
.roww{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.facilities1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities1-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities1-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities1-col p{
    padding: 0;
}
.facilities1-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
@media screen and (max-width:770px){
    .roww{
        flex-direction: column;
    }
}
#register{
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background: #fff;
}
.container2{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}
.container2 .title2{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container2 .title2::before{
    content: '';
    position:absolute;
    height: 3px;
    width: 30px;
    background: burlywood;
    left: 0;
    bottom: 0;
}
.container2 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid burlywood;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: greenyellow;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 635px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(-135deg, rgb(243, 193, 99),beige);
    border-radius: 5px;
}
form .button input:hover{
    background: linear-gradient(135deg, rgb(243, 193, 99),beige);
}
@media screen and (max-width:770px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    
    .user-details::-webkit-scrollbar{
        width: 0;
    }
    form .button input{
        width: 250px;
        margin-bottom: 10px;
    }
    .destinations h1{
        font-smooth: 32px;
    }
    .destinations p{
        font-size: 18px;
    }
}